VITE_SUPABASE_URL=https://oexnpupmcwwfrjqxftun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9leG5wdXBtY3d3ZnJqcXhmdHVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzOTQ2MzQsImV4cCI6MjA2OTk3MDYzNH0.GKpNzu5cx_050P8OFnnmxCGaWxhG5VjD_HzZjbwAt7k
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9leG5wdXBtY3d3ZnJqcXhmdHVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDM5NDYzNCwiZXhwIjoyMDY5OTcwNjM0fQ.qzQiQEGzewFJOSA6gioNWesaCnpDUIiJCrfy4D4HPf0
VITE_GOOGLE_MAPS_API_KEY=AIzaSyCFViC6hBVRPC9PG9TuQfa9Zg1CBYM6048